@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Begin reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

/* End reset */

/* Utility classs */

.nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

/* End utility classes */

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-color: aliceblue;
  /* background-image: url("../img/bubbles.png"), linear-gradient(to left, steelblue, white);
  background-position: right, center;
  background-repeat: repeat-y, no-repeat;
  background-size: 20%, auto; */
}

.container {
  background-color: peachpuff;
  background-image: url("../img/map-2176x1451.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  border-bottom: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  background-color: hsla(0, 0%, 100%, 0.4);
}

.h1 {
  font-size: 500%;
  color: aliceblue;
  text-shadow: 2px 2px 5px black;
  /* background-color: rgba(0, 0, 0, 0.4);
  padding: 0.25rem;
  border-radius: 10px; */
}

.profile-pic-figure {
  width: 35%;
}

.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}

.example {
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px solid red;
}

.example img {
  width: 25%;
  height: auto;
}

.clip {
  font-size: 18rem;
  background-image: url("../img/scenic-2200x1331.png");
  background-size: 100%;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
